.page {
	background-color: #F2F3F5 !important;
}

.job-bg {
	background-color: #F2F3F5 !important;
}

.latest-jobs-ads {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

.post-resume .section {
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
}

@font-face {
	font-family: SolaimanLipi;
	src:
		url('${pageContext.request.contextPath}/static/fonts/SolaimanLipi.ttf');
}

.label-primary {
	background-color: #63AA5C !important;
}

.dropdown-menu {
	border-radius: 4px !important;
}

@charset "ISO-8859-1";

@font-face {
	font-family: SolaimanLipi;
	src: url('resources/fonts/SolaimanLipi.ttf');
}

.heading {
	text-align: center;
	color: black;
}

.job-ad-item {
	-webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
	-ms-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
	-o-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08);
	border: 1px solid #e8e8e8 !important;
}

.job-ad-item:hover {
	border-left: 1px solld #00A651 !important;
	/* 	border-color: #00A651; */
	-webkit-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
	-ms-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.2);
	z-index: 2;
	position: relative;
}

.job-ad-item {
	padding: 8px;
	margin: 12px 0;
}

.h1, .h2, .h3, h1, h2, h3 {
	margin-top: 5px !important;
}

.title {
	text-align: center;
}

.bold {
	font-weight: bold;
}

.not-clickable {
	pointer-events: none;
	cursor: default;
}

.post-resume .form-group {
    margin-bottom: 17px!important;
}

.education-list {
	list-style: none;
	margin-top: -7px;
}

.education-list>li {
    border: 1px solid #e3e3e3 !important;
    background-color: #fcfcfc !important;
	padding-left: 21px !important;
	padding-right: 21px !important;
	padding-top: 21px !important;
	padding-bottom: 0px !important;
	margin-bottom: 15px !important;
	border-radius: 5px !important;
}

.delete-edu {
	/* 	width: 100px!important; */
	color: #fff;
}

.social-media {
	margin-left: 30px !important;
}

.center {
	text-align: center;
}

/* Radio button text color */
.job-postdetails input[type="radio"]+label {
	color: #000 !important;
}

/* close extra education */
.edu-remove {
	font-weight: bold;
	font-size: 35px !important;
	color: #D9534F;
	border: none;
	margin-top: -28px !important;
	margin-bottom: 10px !important;
	margin-left: 10px !important;
}

#addMoreEdu {
	font-weight: bold;
	margin-top: -15px !important;
}

/* Home Page CSS */
.btn.btn-primary.btn-apply {
	background-color: #0072bc !important;
	color: #fff;
}

.btn.btn-primary.btn-apply:hover {
	background-color: #005b93 !important;
	color: #fff;
}

.btn.btn-primary.btn-details:hover {
	background-color: #00843d !important;
	color: #fff;
}

.no-vancy {
	line-height: 80px !important;
	font-weight: 500 !important;
	font-size: 45px !important;
}
/* 	End Home CSS */

.user-account h2 {
    margin-bottom: 18px!important;
}
.user-account {
    padding: 28px 50px!important;
}
/* article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { */
/*     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.08)!important; */
/* } */